[package]
name = "identity-core"
version = "0.1.0"
authors = ["IOTA Identity"]
edition = "2018"
description = "The core traits and types for the identity-rs library."
readme = "../README.md"
repository = "https://github.com/iotaledger/identity.rs"
license = "Apache-2.0"
keywords = ["iota", "tangle", "identity"]
homepage = "https://www.iota.org"

[dependencies]
anyhow = { version = "1.0", default-features = false }
async-trait = { version = "0.1", default-features = false }
bs58 = { version = "0.4", default-features = false, features = ["std"] }
chrono = { version = "0.4", default-features = false, features = ["clock", "std"] }
did_doc = { git = "https://github.com/l1h3r/did_doc", rev = "bb8bda8f6d39451b08e3cc198f956c212a3b87f8", default-features = false, features = ["std"] }
did_url = { version = "0.1", default-features = false, features = ["std", "serde"] }
digest = { version = "0.9", default-features = false }
ed25519-zebra = { version = "2.2", default-features = false }
hex = { version = "0.4", default-features = false }
identity-diff = { version = "=0.1.0", path = "../identity-diff", default-features = false }
rand = { version = "0.7", default-features = false, features = ["getrandom"] }
serde = { version = "1.0", default-features = false, features = ["std", "derive"] }
serde_jcs = { version = "0.1", default-features = false }
serde_json = { version = "1.0", default-features = false, features = ["preserve_order", "std"] }
sha2 = { version = "0.9", default-features = false }
subtle = { version = "2.4" }
thiserror = { version = "1.0", default-features = false }
url = { version = "2.1", default-features = false, features = ["serde"] }
zeroize = { version = "1.1", default-features = false }
