[package]
name = "identity_iota_interaction"
version = "1.6.0-alpha"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
keywords = ["iota", "tangle", "identity"]
license.workspace = true
readme = "./README.md"
repository.workspace = true
rust-version.workspace = true
description = "Trait definitions and a wasm32 compatible subset of code, copied from the IOTA Rust SDK, used to replace the IOTA Rust SDK for wasm32 builds."

[dependencies]
anyhow = "1.0.75"
async-trait = { version = "0.1.81", default-features = false }
cfg-if = "1.0.0"
fastcrypto = { git = "https://github.com/MystenLabs/fastcrypto", rev = "2f502fd8570fe4e9cff36eea5bbd6fef22002898", package = "fastcrypto" }
jsonpath-rust = { version = "0.5.1", optional = true }
secret-storage = { git = "https://github.com/iotaledger/secret-storage.git", default-features = false, tag = "v0.3.0" }
serde.workspace = true
serde_json.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
iota-sdk = { git = "https://github.com/iotaledger/iota.git", package = "iota-sdk", tag = "v0.12.0-rc" }
move-core-types = { git = "https://github.com/iotaledger/iota.git", package = "move-core-types", tag = "v0.12.0-rc" }
tokio = { version = "1", optional = true, default-features = false, features = ["process"] }

shared-crypto = { git = "https://github.com/iotaledger/iota.git", package = "shared-crypto", tag = "v0.12.0-rc" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
bcs = "0.1.4"
eyre = { version = "0.6" }
fastcrypto-zkp = { git = "https://github.com/MystenLabs/fastcrypto", rev = "2f502fd8570fe4e9cff36eea5bbd6fef22002898", package = "fastcrypto-zkp" }
getrandom = { version = "0.2", default-features = false, features = ["js"] }
hex = { version = "0.4" }
itertools = "0.13"
jsonrpsee = { version = "0.24", default-features = false, features = ["wasm-client"] }
leb128 = { version = "0.2" }
num-bigint = { version = "0.4" }
primitive-types = { version = "0.12", features = ["impl-serde"] }
rand = "0.8.5"
ref-cast = { version = "1.0" }
serde_repr = { version = "0.1" }
serde_with = { version = "3.8", features = ["hex"] }
strum.workspace = true
thiserror.workspace = true
tracing = { version = "0.1" }
uint = { version = "0.9" }
derive_more = "0.99.18"
enum_dispatch = "0.3.13"
schemars = "0.8.21"

[package.metadata.docs.rs]
# To build locally:
# RUSTDOCFLAGS="--cfg docsrs" cargo +nightly doc --all-features --no-deps --workspace --open
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = ["send-sync-transaction", "secret-storage/default"]
send-sync-transaction = ["secret-storage/send-sync-storage"]
keytool-signer = ["dep:tokio", "dep:jsonpath-rust"]

[lints.clippy]
result_large_err = "allow"

[lints.rust]
# from local sdk types
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(msim)'] }
