[package]
name = "examples"
version = "0.1.0"
edition = "2018"
publish = false

[dependencies]
identity = { path = "../identity" }
rand = { version = "0.7" }
sha2 = { version = "0.9" }
smol = { version = "0.1", features = ["tokio02"] }
smol-potat = { version = "0.3" }

[[example]]
name = "credential"
path = "credential.rs"

[[example]]
name = "diff_chain"
path = "diff_chain.rs"

[[example]]
name = "merkle_key"
path = "merkle_key.rs"

[[example]]
name = "resolution"
path = "resolution.rs"
