  
.languageButton:hover {
    color: var(--ifm-color-emphasis-1000);
}

.activeButton {
    background-color: var(--ifm-color-primary);
    color: white;
    border-color: transparent;
}

.activeButton:hover {
    color: white;
}

.inactiveButton {
    border-color: transparent;
    background-color: var(--ifm-color-emphasis-300);
    color: var(--ifm-color-emphasis-600);
}
.inactiveButton:hover {
    color: var(--ifm-color-emphasis-1000);
}

.codeSnippetContainer {
    height: 700px;
    width: 100%;
    background-color: #292D3E;
    overflow: hidden;
    border-radius:0 10px 10px 0;
}
.noMarginBottom {
    margin-bottom: 0 !important;
    border-radius:0 10px 10px 10px !important;
}

.langSelector {
    background-color: var(--ifm-color-emphasis-300);
    padding: 5px;
    display: inline-block;
    border-radius:10px 10px 0 0;
}

.githubLink {
    font-size: 0.9em;
    margin-top: 3px;
    margin-bottom: 20px;
}

.rustContainer {
    height: 100%;
    overflow-y: scroll;
}
