[package]
name = "identity_resolver"
version = "1.3.1"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
anyhow = "1.0.86"
# This is currently necessary for the ResolutionHandler trait. This can be made an optional dependency if alternative ways of attaching handlers are introduced.
async-trait = { version = "0.1", default-features = false }
futures = { version = "0.3" }
identity_core = { version = "=1.3.1", path = "../identity_core", default-features = false }
identity_did = { version = "=1.3.1", path = "../identity_did", default-features = false }
identity_document = { version = "=1.3.1", path = "../identity_document", default-features = false }
iota-sdk = { version = "1.1.5" }
serde = { version = "1.0", default-features = false, features = ["std", "derive"] }
strum.workspace = true
thiserror.workspace = true

[dependencies.identity_iota_core]
version = "=1.3.1"
path = "../identity_iota_core"
default-features = false
features = ["send-sync-client-ext", "iota-client"]
optional = true

[dev-dependencies]
identity_iota_core = { path = "../identity_iota_core", features = ["test"] }
tokio = { version = "1.29.0", default-features = false, features = ["rt-multi-thread", "macros"] }

[features]
default = ["iota"]
# Enables the new Resolver interface.
v2 = []
# Enables the IOTA integration for the resolver.
iota = ["dep:identity_iota_core"]

[lints]
workspace = true
