[package]
name = "identity_jose"
version = "0.7.0-alpha.5"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
keywords = ["iota", "tangle", "identity", "jose", "jwa", "jwe", "jwk", "jwm", "jws", "jwt"]
license.workspace = true
readme = "README.md"
repository.workspace = true
rust-version.workspace = true
description = "A library for JOSE (JSON Object Signing and Encryption)"

[dependencies]
base64 = { version = "0.21.0", default-features = false, features = ["std"] }
iota-crypto = { version = "0.15.3", default-features = false, features = ["std", "sha"] }
serde.workspace = true
serde_json = { version = "1.0", default-features = false, features = ["std"] }
subtle = { version = "2.4.1", default-features = false }
thiserror.workspace = true
url = { version = "2.3.1", default-features = false, features = ["serde"] }
zeroize = { version = "1.5.7", default-features = false, features = ["std", "zeroize_derive"] }

[dev-dependencies]
anyhow = "1"
iota-crypto = { version = "0.15.3", features = ["ed25519", "random", "hmac"] }
p256 = { version = "0.12.0", default-features = false, features = ["std", "ecdsa", "ecdsa-core"] }
signature = { version = "2", default-features = false }
tokio = { version = "1.24.2", features = ["macros", "rt"] }
