[package]
name = "identity_document"
version = "1.2.0"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
keywords = ["iota", "tangle", "identity", "did"]
license.workspace = true
readme = "./README.md"
repository.workspace = true
rust-version.workspace = true
description = "Method-agnostic implementation of the Decentralized Identifiers (DID) standard."

[dependencies]
did_url_parser = { version = "0.2.0", features = ["std", "serde"] }
identity_core = { version = "=1.2.0", path = "../identity_core" }
identity_did = { version = "=1.2.0", path = "../identity_did" }
identity_verification = { version = "=1.2.0", path = "../identity_verification", default-features = false }
indexmap = { version = "2.0", default-features = false, features = ["std", "serde"] }
serde.workspace = true
strum.workspace = true
thiserror.workspace = true

[dev-dependencies]
criterion = { version = "0.4.0", default-features = false, features = ["cargo_bench_support"] }
serde_json.workspace = true

[[bench]]
name = "deserialize_document"
harness = false

[lints]
workspace = true
