[package]
name = "identity_iota"
version = "0.7.0-alpha.5"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
keywords = ["iota", "tangle", "identity", "did", "ssi"]
license.workspace = true
readme = "./README.md"
repository.workspace = true
rust-version.workspace = true
description = "Framework for Self-Sovereign Identity with IOTA DID."

[dependencies]
identity_core = { version = "=0.7.0-alpha.5", path = "../identity_core", default-features = false }
identity_credential = { version = "=0.7.0-alpha.5", path = "../identity_credential", features = ["validator"], default-features = false }
identity_did = { version = "=0.7.0-alpha.5", path = "../identity_did", default-features = false }
identity_document = { version = "=0.7.0-alpha.5", path = "../identity_document", default-features = false }
identity_iota_core = { version = "=0.7.0-alpha.5", path = "../identity_iota_core", default-features = false }
identity_resolver = { version = "=0.7.0-alpha.5", path = "../identity_resolver", default-features = false, optional = true }
# TODO: Decide whether this should be completely behind a feature flag.
identity_storage = { version = "=0.7.0-alpha.4", path = "../identity_storage", default-features = false }
identity_verification = { version = "=0.7.0-alpha.5", path = "../identity_verification", default-features = false }

[dev-dependencies]
anyhow = "1.0.64"
iota-client = { version = "2.0.1-rc.4", default-features = false, features = ["tls", "stronghold"] }
tokio = { version = "1.17.0", features = ["full"] }

[features]
default = ["revocation-bitmap", "client", "iota-client", "resolver"]

# Exposes the `IotaIdentityClient` and `IotaIdentityClientExt` traits.
client = ["identity_iota_core/client"]

# Enables the iota-client integration, the client trait implementations for it, and the `IotaClientExt` trait.
iota-client = ["identity_iota_core/iota-client", "identity_resolver?/iota"]

# Enables revocation with `RevocationBitmap2022`.
revocation-bitmap = [
  "identity_credential/revocation-bitmap",
  "identity_iota_core/revocation-bitmap",
  "identity_resolver?/revocation-bitmap",
]

# Enables support for the `Resolver`.
resolver = ["dep:identity_resolver"]

# Enables `Send` + `Sync` bounds for the storage traits.
send-sync-storage = ["identity_storage/send-sync-storage"]

[package.metadata.docs.rs]
# To build locally:
# RUSTDOCFLAGS="--cfg docsrs" cargo +nightly doc --all-features --no-deps --workspace --open
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
