[package]
name = "identity_iota"
version = "1.3.1"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
keywords = ["iota", "tangle", "identity", "did", "ssi"]
license.workspace = true
readme = "./README.md"
repository.workspace = true
rust-version.workspace = true
description = "Framework for Self-Sovereign Identity with IOTA DID."

[dependencies]
identity_core = { version = "=1.3.1", path = "../identity_core", default-features = false }
identity_credential = { version = "=1.3.1", path = "../identity_credential", features = ["validator"], default-features = false }
identity_did = { version = "=1.3.1", path = "../identity_did", default-features = false }
identity_document = { version = "=1.3.1", path = "../identity_document", default-features = false }
identity_iota_core = { version = "=1.3.1", path = "../identity_iota_core", default-features = false }
identity_resolver = { version = "=1.3.1", path = "../identity_resolver", default-features = false, optional = true }
identity_storage = { version = "=1.3.1", path = "../identity_storage", default-features = false, features = ["iota-document"] }
identity_verification = { version = "=1.3.1", path = "../identity_verification", default-features = false }

[dev-dependencies]
anyhow = "1.0.64"
iota-sdk = { version = "1.1.5", default-features = false, features = ["tls", "client"] }
rand = "0.8.5"
tokio = { version = "1.29.0", features = ["full"] }

[features]
default = ["revocation-bitmap", "client", "iota-client", "resolver"]

# Exposes the `IotaIdentityClient` and `IotaIdentityClientExt` traits.
client = ["identity_iota_core/client"]

# Enables the iota-client integration, the client trait implementations for it, and the `IotaClientExt` trait.
iota-client = ["identity_iota_core/iota-client", "identity_resolver?/iota"]

# Enables revocation with `RevocationBitmap2022`.
revocation-bitmap = [
  "identity_credential/revocation-bitmap",
  "identity_iota_core/revocation-bitmap",
  "identity_resolver?/revocation-bitmap",
]

# Enables revocation with `StatusList2021`.
status-list-2021 = ["revocation-bitmap", "identity_credential/status-list-2021"]

# Enables support for the `Resolver`.
resolver = ["dep:identity_resolver"]

# Enables `Send` + `Sync` bounds for the storage traits.
send-sync-storage = ["identity_storage/send-sync-storage"]

# Enables domain linkage support.
domain-linkage = ["identity_credential/domain-linkage"]

# Enables fetching domain linkage configuration files.
domain-linkage-fetch = ["identity_credential/domain-linkage-fetch"]

# Exposes in-memory implementations of the storage traits intended exclusively for testing.
memstore = ["identity_storage/memstore"]

# Enables selective disclosure features.
sd-jwt = ["identity_credential/sd-jwt"]

# Enables zero knowledge selective disclosurable VCs
jpt-bbs-plus = ["identity_storage/jpt-bbs-plus", "identity_credential/jpt-bbs-plus"]

[package.metadata.docs.rs]
# To build locally:
# RUSTDOCFLAGS="--cfg docsrs" cargo +nightly doc --all-features --no-deps --workspace --open
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true
