name: Clippy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - epic/*
    paths:
      - '.github/workflows/clippy.yml'
      - '**.rs'
      - '**.toml'

jobs:
  clippy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - name: Install clippy with stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: wasm32-unknown-unknown
          override: true
          components: clippy

      # Download a pre-compiled wasm-bindgen binary.
      - name: Install wasm-bindgen-cli
        uses: jetli/wasm-bindgen-action@24ba6f9fff570246106ac3f80f35185600c3f6c9

      - name: core clippy check
        uses: actions-rs-plus/clippy-check@b09a9c37c9df7db8b1a5d52e8fe8e0b6e3d574c4
        with:
          args: --all-targets --all-features -- -D warnings

      - name: Wasm clippy check
        uses: actions-rs-plus/clippy-check@b09a9c37c9df7db8b1a5d52e8fe8e0b6e3d574c4
        with:
          args: --manifest-path ./bindings/wasm/Cargo.toml --target wasm32-unknown-unknown --all-targets --all-features -- -D warnings

      # Deactivated while the crate is broken, which is the case due to the removal of identity_account_storage.
      # - name: stronghold-nodejs clippy check
      #   uses: actions-rs-plus/clippy-check@b09a9c37c9df7db8b1a5d52e8fe8e0b6e3d574c4
      #   with:    
      #     args: --manifest-path ./bindings/stronghold-nodejs/Cargo.toml --all-targets --all-features -- -D warnings

      - name: libjose clippy check
        uses: actions-rs-plus/clippy-check@b09a9c37c9df7db8b1a5d52e8fe8e0b6e3d574c4
        with:
          args: --manifest-path ./libjose/Cargo.toml --all-targets --all-features -- -D warnings
