name: Coverage

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
      - epic/*
    paths:
      - '.github/workflows/coverage.yml'
      - '.github/workflows/scripts/coverage.sh'
      - '**.rs'
      - '**.toml'

jobs:
  coverage:
    runs-on: ubuntu-latest
    continue-on-error: false

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2022-06-30
          override: true
          components: llvm-tools-preview

      # Download a pre-compiled wasm-bindgen binary.
      - name: Install wasm-bindgen-cli
        uses: jetli/wasm-bindgen-action@24ba6f9fff570246106ac3f80f35185600c3f6c9

      - name: Install cargo-binutils
        uses: actions-rs/install@v0.1
        with:
          crate: cargo-binutils
          version: 0.3.4

      - name: Install rustfilt
        uses: actions-rs/install@v0.1
        with:
          crate: rustfilt
          version: 0.2.1

      - name: Run test coverage
        run: bash .github/workflows/scripts/coverage.sh

      - uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage/coverage.info
