name: Enforce PR labels

on:
  pull_request:
    types: [labeled, unlabeled, opened, edited, synchronize]
jobs:
  enforce-label:
    runs-on: ubuntu-latest
    steps:
    - uses: yogevbd/enforce-label-action@2.2.2
      with:
        REQUIRED_LABELS_ANY: "changed,added,patch,bug,deprecated,removed,documentation,no-changelog"
        REQUIRED_LABELS_ANY_DESCRIPTION: "Select at least one label ['changed','added','patch','bug','deprecated','removed','documentation','no-changelog']"
        BANNED_LABELS: "question,wontfix"
