name: Examples

on:
  schedule:
    - cron: '0 0 * * *' # run at midnight every day
  workflow_dispatch:

jobs:
  rust-examples:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        include:
          - os: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Get current date
        run: echo "CURRENT_DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: Cache cargo
        uses: actions/cache@v2.1.6
        with:
          # https://doc.rust-lang.org/cargo/guide/cargo-home.html#caching-the-cargo-home-in-ci
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          # Add date to the cache to keep it up to date
          key: ${{ matrix.os }}-cargo-${{ github.job }}-${{ hashFiles('**/Cargo.toml') }}-${{ env.CURRENT_DATE }}
          # Restore from outdated cache for speed
          restore-keys: |
            ${{ matrix.os }}-cargo-${{ github.job }}-${{ hashFiles('**/Cargo.toml') }}-
            ${{ matrix.os }}-cargo-${{ github.job }}-
            ${{ matrix.os }}-cargo-

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --examples --release

      - name: Run Rust examples
        working-directory: examples
        run: |
          cargo read-manifest | for entry in $(jq -r '.targets[].name'); do cargo run --example "$entry" || exit 1; done

  wasm-examples:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        include:
          - os: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Get current date
        run: echo "CURRENT_DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: Cache cargo
        uses: actions/cache@v2.1.6
        with:
          # https://doc.rust-lang.org/cargo/guide/cargo-home.html#caching-the-cargo-home-in-ci
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          # Add date to the cache to keep it up to date
          key: ${{ matrix.os }}-cargo-${{ github.job }}-${{ hashFiles('**/Cargo.toml') }}-${{ env.CURRENT_DATE }}
          # Restore from outdated cache for speed
          restore-keys: |
            ${{ matrix.os }}-cargo-${{ github.job }}-${{ hashFiles('**/Cargo.toml') }}-
            ${{ matrix.os }}-cargo-${{ github.job }}-
            ${{ matrix.os }}-cargo-

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install txm # for running README.md examples https://github.com/anko/txm
        run: npm install -g txm@7 # pin to version 7.x.x (currently 7.4.7 works)

      - name: Install wasm-pack
        run: npm install -g wasm-pack

      - name: Install JS dependencies
        run: npm install
        working-directory: bindings/wasm

      - name: Build Wasm bindings
        run: npm run build
        working-directory: bindings/wasm

      - name: Build Wasm examples
        run: npm run build:examples
        working-directory: bindings/wasm

      - name: Test Wasm examples (node)
        run: npm run test:node
        working-directory: bindings/wasm

      - name: Test Wasm examples (browser)
        run: npm run test:browser
        working-directory: bindings/wasm

      - name: Test Wasm README.md examples
        run: npm run test:readme
        working-directory: bindings/wasm
